# piped | invidious
BACKEND=invidious

BACKEND_INTERNAL_URL=https://invidious.example.com

# INVIDIOUS_INTERNAL_URL=https://invidious.example.com
# PIPED_INTERNAL_URL=https://pipedapi.example.com

HTTP_PORT=8080
